$yellow: #f9c000;
$yellow-hover: #f9bf00c7;
$gray: #f0f0f0;

@font-face {
	font-family: "Zona Pro";
	src: url("../fonts/ZonaPro-Regular.woff") format("woff");
	src: url("../fonts/ZonaPro-Regular.eot") format("eot");
	src: url("../fonts/ZonaPro-Regular.ttf") format("ttf");
}

@mixin zona($fz, $fw) {
	font-family: "Zona Pro" sans-serif !important;
	font-weight: $fw !important;
}

body,
html {
	font-family: "Montserrat", sans-serif !important;
	line-height: 1.2;
	font-size: 16px;
	@media (min-width: 768px) {
		.gap-md-4rem {
			gap: 4rem !important;
		}
	}
	* {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}
ul {
	margin: 0 !important;
	padding: 0 !important;
}
body {
	.w-md-50 {
		@media (min-width: 768px) {
			width: 50% !important;
		}
	}
}
.list-styled > * {
	list-style-type: disc !important;
}
a {
	text-decoration: none !important;
	transition: all 0.3s ease 0s;
	&:hover {
		opacity: 0.6;
		transition: all 0.3s ease 0s;
	}
}
* {
	color: black !important;
}
.form-primary-style {
	label {
		font-size: 15px;
		font-weight: 500;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px #2b2f2f inset !important;
	}
	input:-webkit-autofill {
		-webkit-text-fill-color: #ffffff !important;
	}
	input {
		padding-top: 10px !important;
		margin-top: -5px !important;
		background-color: transparent;
		border: none;
		border-bottom: var(--bs-border-width) solid var(--bs-border-color);
		border-radius: 0;
		padding: 0 !important;
		&:focus {
			outline: none !important;
			background-color: transparent;
			box-shadow: none;
		}
		&::-webkit-inner-spin-button {
			display: none;
		}
	}
}
.container {
	max-width: 1810px !important;
	margin: 0px auto !important;
}
.header__logo-block {
	a {
		img {
			@media (min-width: 768px) {
				width: 132px;
				height: 108px;
			}
		}
	}
}
.mt-128 {
	margin-top: 22px !important;
	@media (min-width: 768px) {
		margin-top: 128px !important;
	}
}
.fs-md-70 {
	font-family: "Zona Pro", sans-serif;
	font-size: 22px;
	@media (min-width: 768px) {
		font-size: 70px !important;
	}
}
.blue-text {
	color: #050038 !important;
}
.bg-f-cons {
	background-color: #2b2f2f;
	* {
		color: #ffffff !important;
		button {
			color: #000 !important;
		}
	}
}
.nav {
	@include zona(23, 500);
	@media (min-width: 768px) {
		font-size: 1.4rem;
		font-weight: 500;
	}
}
.number-block {
	font-size: 1rem;
	min-width: 140px;
	@media (min-width: 768px) {
		font-size: 23px;
		min-width: 201px;
	}
}
.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;
	min-width: 100%;
	min-height: 1023px;
	@media (max-width: 992px) {
		min-height: 293px;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../images/hero/background.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100%;
		min-width: 100%;
		z-index: -1;
	}
}
.hero__container {
	max-width: 1617px;
	margin: 0px auto;
	@media (min-width: 768px) {
		h1 {
			font-size: 70px;
		}
		p {
			font-size: 35px;
		}
	}
}
.button-primary {
	background: $yellow;
	border: none;
	padding: 26px 107px 34px 106px;
	transition: all 0.3s ease 0s;
	border-radius: 10px;
	&:hover {
		background: $yellow-hover;
	}
	&:active {
		transform: scale(0.9);
	}
}

.zona {
	@include zona(70, 700);
}
.header__menu {
	.menu__icon {
		position: relative;
		display: flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		min-width: 43px;
		min-height: 50px;
		background: none;
		border: none;
		z-index: 2;
		span {
			z-index: 2;
			min-width: inherit;
			min-height: 7.5px;
			background-color: #000;
			position: relative;
			border-radius: 8px;
			transition: all 0.3s ease 0s;
			&::before {
				content: "";
				width: 100%;
				min-height: inherit;
				background-color: inherit;
				position: absolute;
				left: 0;
				top: -11px;
				border-radius: 8px;
				transition: all 0.3s ease 0s;
			}
			&::after {
				content: "";
				width: 100%;
				min-height: inherit;
				background-color: inherit;
				position: absolute;
				top: 11.25px;
				left: 0;
				border-radius: 8px;
				transition: all 0.3s ease 0s;
			}
		}
	}
	.menu__body {
		display: none;
		box-shadow: 2px 2px 20px 15px #00000040;
		transition: all 0.3s ease 0s;
	}
	.menu-active {
		transition: all 0.3s ease 0s;
		span {
			align-items: center;
			background: transparent;
			transition: all 0.3s ease 0s;
		}
		span:before {
			background: #000;
			transition: all 0.3s ease 0s;
			transform: rotate(-45deg);
			top: 5px;
		}
		span:after {
			background: #000;
			transition: all 0.3s ease 0s;
			transform: rotate(45deg);
			top: 5px;
		}
	}
}
.primary-button {
	color: #000;
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	padding: 16px 51px 16px 69px;
	border-radius: 10px;
	background: #f9c000;
	transition: all 0.3s ease 0s;
	@media (min-width: 768px) {
		font-size: 35px;
		padding: 30px 100px;
	}
	&:hover {
		transition: all 0.3s ease 0s;
		opacity: 0.8;
	}
	&:active {
		transition: all 0.3s ease 0s;
		opacity: 1;
		transform: scale(0.9);
	}
}
// modal styles
.modal-request__container {
	min-height: 500px !important;
	min-width: 450px !important;
	@media (max-width: 768px) {
		min-width: 300px !important;
		min-height: 350px !important;
	}
	* {
		border-radius: 10px;
		font-weight: 500;
		font-size: 24px !important;
		@media (max-width: 768px) {
			font-size: 16px !important;
		}
	}
}
.requestCallButton {
	color: #000;
	font-size: 16px;
	font-weight: 700;
	padding: 5px 12px;
	border-radius: 10px;
	background: #f9c000;
	transition: all 0.3s ease 0s;
	&:hover {
		transition: all 0.3s ease 0s;
		opacity: 0.8;
	}
	&:active {
		transition: all 0.3s ease 0s;
		opacity: 1;
		transform: scale(0.9);
	}
}
.close {
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&:hover {
		transition: all 0.3s ease 0s;
		opacity: 0.8;
	}
	&:active {
		transition: all 0.3s ease 0s;
		opacity: 1;
		transform: scale(0.9);
	}
}
// partners styles
.partners {
	img {
		cursor: pointer;
		transition: all 0.3s ease-in-out 0s;
		&:hover {
			transition: all 0.3s ease-in-out 0s;
			filter: brightness(85%);
			transform: scale(1.1);
			border-radius: 30px;
		}
	}
	@media (min-width: 768px) {
		background-color: #f0f0f0;
	}
	@media (max-width: 768px) {
		img {
			width: 75%;
		}
	}
}
// quality-of-materials
.quality-of-materials__list {
	margin-bottom: 2rem !important;
	padding: 0 !important;
	@media (min-width: 768px) {
		margin-bottom: 187px !important;
	}
	@media (max-width: 768px) {
		h4 {
			font-size: 16px !important;
		}
		img {
			width: 75px !important;
			height: 75px !important;
		}
	}
}
// write-to-us
.mh-915 {
	@media (min-width: 768px) {
		min-height: 915px;
	}
}
.write-to-us__bg-image__ {
	&start,
	&end {
		width: 100%;
		height: 100%;
		@media (min-width: 768px) {
			width: 50%;
			height: 100%;
		}
	}
	&end {
		width: 100%;
	}
}
.write-to-us {
	*:not(button) {
		color: #ffffff !important;
	}
}
.p__block-text {
	@media (min-width: 768px) {
		font-size: 20px;
	}
	font-size: 16px;
}
body .h3__block-title {
	color: #facc15 !important;
	font-family: "Zona Pro", sans-serif;
	font-weight: 700;
	font-size: 22px;
	@media (min-width: 768px) {
		font-size: 37px;
	}
}
.write-to-us__form-container {
	background: #2b2f2f;
	padding: 30px 27px 24px 16px;
	@media (min-width: 768px) {
		padding: 100px 64px 100px 100px;
	}
}
// title class
.title-sections {
	color: #050038 !important;
	font-family: "Zona Pro", sans-serif;
	font-size: 22px;
	font-weight: 400;
	@media (min-width: 768px) {
		font-size: 70px;
	}
}
// select-materials
.select-materials {
	margin-top: 35px;
	@media (min-width: 900px) {
		margin-left: 100px;
	}
	h3 {
		font-family: "Zona Pro", sans-serif;
		font-style: 22px;
		@media (min-width: 768px) {
			font-size: 35px;
		}
	}
	.select-materials__list {
		> li {
			padding: 17px 29px 25px 30px;
			background-color: #f0f0f0;
			flex-direction: row;
			@media (max-width: 900px) {
				flex-direction: column;
			}
			transition: all 0.3s ease 0s;
			&:hover {
				box-shadow: 3px 3px 5px 3px #00000040;
				z-index: 1;
				transform: scale(1.05);
				transition: all 0.3s ease 0s;
			}
		}
	}
	img {
		width: 100%;
		height: 100%;
		max-width: 241px;
		@media (min-width: 768px) {
			max-width: 385px;
			min-width: 385px;
		}
	}
	@media (min-width: 768px) {
		margin-top: 178px;
	}
	.list-styled {
		padding-left: 12px + 7px !important;
		@media (max-width: 768px) {
			padding-left: 30px !important;
		}
	}
	.select-materials__card-list {
		font-family: "Zona Pro", sans-serif;
		font-size: 16px;
		font-weight: 400;
		li {
			font-size: 16px;
			@media (min-width: 768px) {
				font-size: 25px;
			}
		}
	}
	.gap-md-25 {
		gap: 22px !important;
		@media (min-width: 900px) {
			gap: 15% !important;
		}
	}
}
//  scheme-of-work
.scheme-of-work {
	h2 {
		padding: 0;
		margin: 0;
	}
	h3 {
		margin: 0;
		padding: 0;
		@media (min-width: 768px) {
			margin-top: 52px !important;
			font-size: 35px !important;
		}
	}
	@media (min-width: 768px) {
		body & {
			padding-top: 41px !important;
		}
	}
	ul {
		padding-top: 31px !important;
		@media (min-width: 768px) {
			padding-top: 59px !important;
			align-items: center;
			justify-content: center;
			gap: 43px !important;
			> * {
				flex: 0 1 auto;
			}
		}
		li {
			text-align: center;
			font-weight: 500;
			border: 1px solid #000;
			display: flex;
			width: 320px;
			padding: 24px 23px 36px 22px;
			flex-direction: column;
			align-items: center;
			gap: 23px;

			background: #fff;
			box-shadow: 26px 23px 38px 11px rgba(0, 0, 0, 0.25);

			transition: all 0.3s ease 0s;
			@media (min-width: 768px) {
				padding: 25px 21px 26px 21px;
				gap: 26px;
				max-width: 369px;
			}
			&:hover {
				transition: all 0.3s ease 0s;
				transform: translateY(-5px);
				transform: scale(1.02);
			}
			p {
				margin: 0;
				padding: 0;
				font-size: 25px;
			}
			img {
				transition: all 0.3s ease 0s;
			}
		}
	}
}
// feedback
.feedback {
	h2 {
		@media (max-width: 786px) {
			max-width: 224px;
		}
	}
	button {
		img {
			transition: all 0.3s ease 0s;
			&:hover {
				transform: scale(0.9);
				opacity: 0.7;
				transition: all 0.3s ease 0s;
			}
			&:active {
				transform: scale(0.8);
				opacity: 0.9;
				transition: all 0.3s ease 0s;
			}
		}
	}
}

// slider
.slider-primary {
	margin: 23px auto 0px auto;
	max-width: 213px;
	position: relative;
	height: 215px;
	@media (min-width: 768px) {
		max-width: 1615px;
		height: 100%;
		max-height: 823px;
		margin-top: 60px;
	}
	ul {
		display: flex;
		li {
			display: inline-block;
			animation-name: fade;
			animation-duration: 1.5s;
			@keyframes fade {
				from {
					opacity: 0.4;
				}
				to {
					opacity: 1;
				}
			}
			img {
				object-fit: cover;
				min-width: 213px;
				width: 100%;
				height: 215px;
				cursor: pointer;
				transition: all 0.3s ease 0s;
				&:hover {
					opacity: 0.6;
					transition: all 0.3s ease 0s;
				}
				&:active {
					transform: scale(0.9);
					transition: all 0.3s ease 0s;
					opacity: 0.9;
				}
				@media (min-width: 768px) {
					height: 100%;
					max-height: 823px;
				}
			}
		}
	}
	.previous,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -22px;
		color: white;
		font-weight: bold;
		font-size: 16px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		&:hover {
			opacity: 0.6;
			transition: all 0.3s ease 0s;
		}
		@media (min-width: 768px) {
			img {
				width: 80px;
			}
		}
	}
	.next {
		right: -55px;
		@media (min-width: 768px) {
			right: -95px;
		}
	}
	.previous {
		left: -55px;
		@media (min-width: 768px) {
			left: -95px;
		}
	}
}
@media (min-width: 768px) {
	ul {
		justify-content: center;
	}
}

// guarantee
.guarantee {
	h3 {
		@media (min-width: 768px) {
			font-size: 35px !important;
			margin-top: 52px !important;
		}
	}
	@media (min-width: 768px) {
		body & {
			padding-top: 41px !important;
		}
	}
	ul {
		@media (min-width: 768px) {
			padding-top: 28px !important;
			align-items: center;
			justify-content: center;
			> * {
				flex: 0 1 auto;
			}
		}
		li {
			text-align: center;
			font-weight: 500;
			border: 1px solid #000;
			display: flex;
			width: 320px;
			padding: 23px 10px 57px 10px;
			flex-direction: column;
			align-items: center;
			gap: 23px;

			background: #fff;
			box-shadow: 26px 23px 38px 11px rgba(0, 0, 0, 0.25);

			transition: all 0.3s ease 0s;
			@media (min-width: 768px) {
				padding: 59px 95px 54px 94px;
				gap: 21px;
				min-width: 488px;
			}
			&:hover {
				transition: all 0.3s ease 0s;
				transform: translateY(-5px);
				transform: scale(1.02);
			}
			p {
				margin: 0;
				padding: 0;
				font-size: 25px;
			}
			img {
				transition: all 0.3s ease 0s;
			}
		}
	}
}
.hovered {
	img {
		transition: all 0.3s ease 0s;
		transform: translateY(-10px);
		animation-name: jumpImage;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		@keyframes jumpImage {
			from {
				transform: none;
			}
			25% {
				transform: translateY(-8%) rotate(-16deg);
			}
			50% {
				transform: translateY(+8%) rotate(16deg);
			}
			75% {
				transform: translateY(-8%) rotate(-16deg);
			}
			to {
				transform: none;
			}
		}
	}
}

// free-consultation
.free-consultation {
	margin: 123px 0px 0px 0px;
	@media (min-width: 768px) {
		margin: 215px 0px 0px 0px;
	}
	h3 {
		@media (max-width: 768px) {
			max-width: 278px;
		}
	}
	p {
		@media (max-width: 768px) {
			max-width: 273px;
		}
	}
	.free-consultation__text-block {
		padding: 35px 15px 41px 27px;
	}
}

// consumables
.consumables {
	margin-top: 59px;
	img {
		width: 100%;
		height: 100%;
	}
}
// footer
.footer {
	.footer__container {
		background: #f0f0f0;
		padding: 13px 50px 46px 50px;
		display: flex;
		flex-direction: column;
		gap: 26px;
		text-align: center;
		img {
			max-width: 134px;
			max-height: 110px;
		}
		color: #000;
		font-family: "Montserrat";
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		nav {
			font-weight: 500;
		}
	}
}
